@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Work Sans', sans-serif;

}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

.landSection {
  padding: 50px 0;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #FFFFFF;
  height: 80px;
  z-index: 10;
  width: 100%;
}

.header-main {
  margin: 0 112px 0 112px;
}

.header-link {
  position: relative;
  top: 30px;
  height: 21px;
  margin: 0 40px 0 40px;
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
  color: #14171F;
  font-weight: 400;
  font-size: 18px;
}

.header-logo {
  position: relative;
  top: 16px;
}

.home {
  margin-left: 0;
}

.contact-us {
  margin-right: 0;
  color: #F9995D;
  font-weight: 600;
}




/* Main section */

main {
  height: 646px;
  background-repeat: no-repeat;
}

.main-hero-div {
  display: flex;

  position: relative;
  justify-content: center;

  background-image: url(/images/Hero.png);
  background-size: cover;
  height: 100vh;
}

.main-hero {

  /*background-repeat: no-repeat;*/
}

.main-text {
  position: absolute;
  top: 0;
}

.the-box {
  margin-top: 118px;
  font-weight: 700;
  color: #2947A9;
  font-size: 20px;
  line-height: 35px;
}

.first-block-text {
  max-width: 556px;
  left: 112px;
  margin-top: 239px;
  color: #292E3D;
  font-weight: 600;
  font-size: 36px;
  line-height: 84px;
}

.feature-block {
  position: absolute;
  right: 0;
  bottom: 0;
}
.square {
  background-color: #3559C7;
  width: 416px;
  height: 190px;
}

.feature-heading {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  padding: 20px 0 20px 0;
}

.feature-p {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.square-button {
  position: absolute;
  width: 208px;
  height: 40px;
  background-color: #292E3D;
  bottom: 0;


}

.square-button-left {
  border-right: 1px solid #FFFFFF;
}

.square-button-right {
  border-left: 1px solid #FFFFFF;
  right: 0;
}

.button-text {
  position: relative;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0 10px 0 10px;
}

.inside-button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 9px 0 0 0;
}

/* Section 1 */
.heading {
  margin: 60px 0 50px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #292E3D;
}

.grid-3-col {
  /*display: grid;*/
  /*grid-template-columns: repeat(3, 1fr);*/
  /*column-gap: 10px;*/
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.colum {
  width: 292px;
  height: 197px;
  border: 1.4px solid #E0E3EB;
  border-radius: 4px;
  padding: 20px 20px 40px;
  margin-bottom: 20px;
}

.colum h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #3D445C;
  margin: 20px 0 20px 0;
}

.colum p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #858EAD;
}

/* Section 2 */

.section-2 {

}

.about-us {
  width: 488px;
  height: 523px;
  background-color: #2947A9;
}

.about-us h4 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  margin: 50px 0 37px 40px;
}

.about-us p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  margin: 0 60px 30px 40px;
}

.about-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 700px;
  width: 100%;
  background-image: url(/images/avatar.png);
  background-repeat: no-repeat;
}


.button-section-2 {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #2947A9;
  background-color: #FFFFFF;
  padding: 16px 20px 16px 20px;
  border: 2px solid #2947A9;
  border-radius: 6px;

}

.btn-sec-2 {
  margin: 80px 0px 60px 40px;
}



/* Section 3 */

.section-3 {
  background-color: #F6F8F7;
}





/* Responsive position */

@media (max-width: 1650px) {
  .header-main {
    margin: 0 20px 0 20px;
  }

  .header-link {
    margin: 0 30px 0 30px;
    font-size: 16px;
  }

  .header-logo {
    margin: 0 80px 0 80px;
  }
}

@media (max-width: 1024px) {
  .header-main {
    margin: 0 20px 0 20px;
  }

  .header-link {
    margin: 0 10px 0 10px;
    font-size: 14px;
  }

  .header-logo {
    margin: 0 60px 0 60px;
  }


}

@media (max-width: 768px) {
  .Logo {
    width: 32px;
    height: auto;
  }
}