@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Work Sans', sans-serif;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  overflow-x: hidden;


}

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  overflow: hidden;
}

.landSection {
  padding: 50px 0;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: #FFFFFF;
  height: 80px;
  z-index: 10;
  width: 100%;
}

.header-main {
  /*margin: 0 112px 0 112px;*/
}

.header-link {
  position: relative;
  top: 30px;
  height: 21px;
  margin: 0 40px 0 40px;
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
  color: #14171F;
  font-weight: 400;
  font-size: 18px;

}

.header-logo {
  /*position: absolute;*/
  /*top: 16px;*/
  /*left: 1px;*/
  cursor: pointer;
}

.home {
  margin-left: 0;
}

.contact-us {
  margin-right: 0;
  color: #F9995D;
  font-weight: 600;
}

.nav-btn {
  display: none;
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #14171F;
  margin-right: 50px;
}

.navbar a:hover {
    color: #2947A9;
    transition: 0.5s;
}

.navbar a:nth-child(5) {
  margin-right: 80px;
  font-weight: 600;
  color: #F9995D;
}




/* Main section */



.main-hero-div {
  /*background-image: url(/images/Hero.png);*/
  background-size: cover;
  height: 100vh;
  /*transition: 1s;*/
  transition-duration: 0.5s;
  overflow: hidden;
}

.main-hero {

  /*background-repeat: no-repeat;*/
}

.the-box {
  display: flex;
  justify-content: center;
}

.main-text {
  position: absolute;
  top: 0;
  margin-top: 118px;
}

.the-box {
  font-weight: 700;
  color: #2947A9;
  font-size: 20px;
  line-height: 35px;
  
}

.first-slide {
  max-width: 556px;
  left: 112px;
  margin-top: 239px;
  color: #292E3D;
  font-weight: 600;
  font-size: 36px;
  line-height: 84px;
}

.second-slide {
  max-width: 556px;
  left: 112px;
  margin-top: 239px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 36px;
  line-height: 84px;
}

.third-slide {
  max-width: 556px;
  left: 112px;
  margin-top: 239px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 36px;
  line-height: 84px;
}



.feature-block {
  position: absolute;
  right: 0;
  bottom: 0;
}
.square {
  background-color: #3559C7;
  width: 416px;
  height: 190px;
}

.feature-heading {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  padding: 20px 0 20px 0;
}

.feature-p {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0 60px;
}

.square-button {
  position: absolute;
  width: 50%;
  height: 40px;
  background-color: #292E3D;
  bottom: 0;
  cursor: pointer;
}

.square-button:hover {
  background-color: #3D445C;
  transition: 0.5s;
}

.square-button-left {
  border-right: 1px solid #FFFFFF;
}

.square-button-right {
  border-left: 1px solid #FFFFFF;
  right: 0;
}

.button-text {
  position: relative;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0 10px 0 10px;
}

.inside-button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 9px 0 0 0;
}

/* Section 1 */
.heading {
  margin: 0 0 50px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  color: #292E3D;
}

.grid-3-col {
  /*display: grid;*/
  /*grid-template-columns: repeat(3, 1fr);*/
  /*column-gap: 10px;*/
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.colum {
  width: 292px;
  height: 197px;
  border: 1.4px solid #E0E3EB;
  border-radius: 4px;
  padding: 20px 20px 40px;
  margin-bottom: 20px;
}

.colum h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #3D445C;
  margin: 20px 0 20px 0;
}

.colum p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #858EAD;
}

/* Section 2 */

.section-2 {

}

.about-us {
  width: 488px;
  height: 523px;
  background-color: #2947A9;
}

.about-us h4 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  margin: 50px 0 37px 40px;
}

.about-us p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  margin: 0 60px 30px 40px;
}

.about-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /*height: 700px;*/
  width: 100%;
  background-image: url(/images/avatar.png);
  background-repeat: no-repeat;
}



.button-section-2 {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #2947A9;
  background-color: #FFFFFF;
  padding: 16px 20px 16px 20px;
  /*border: 1px solid #2947A9;*/
  border-radius: 6px;

}

.button-section-2:hover {
  border: 3px solid #FFFFFF;
  transition: 0.5s;
  background-color: #2947A9;
  color: #FFFFFF;

}

.btn-sec-2 {
  margin: 80px 0px 60px 40px;
}



/* Section 3 */

.section-3 {
  background-color: #F6F8F7;
}

.flex-colum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  width: 271px;
  height: 181px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
  border-radius: 4px;;
}

.flex-6-col {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 48px 60px;
}

.underline {
  width: 60px;
  height: 2px;
  background-color: #E0E3EB;
}

.flex-colum h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.text-color-sec3 h4 {
  color: #2947A9;
}

.flex-colum-blue {
  background-color: #2947A9;
}

/* Section 4 */

.flex-blocks {
  display: flex;
  justify-content: space-around;
}


.section-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.four-of-blocks {

  width: 280px;
  height: 155px;
  border: 1px solid #FFFFFF;
  box-shadow: -20px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
  border-radius: 4px;
}

.four-of-blocks h4 {
  font-weight: 600;
  font-size: 72px;
  line-height: 84px;
  display: flex;
  align-items: flex-start;
  color: #292E3D;
}

.p-flex {
  display: flex;
  flex-direction: row;
}

.four-of-blocks p {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #667299;
}

.vertical-line {
  width: 7px;
  height: 28px;
  background: #F9995D;
  margin: 0 12px 0 46px;
}

.four-of-blocks img {
  position: relative;
  transform: translate(-45px, -40px);
}

.flex-img-number {
  display: flex;
  justify-content: space-between;
}

.text-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 500px;
  height: 574px;
}

.text-block h3 {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #2947A9;
}

.text-block p {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #525B7A;
}

.text-block a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 176px;
  padding: 16px 20px;
  background-color: #2947A9;
  border-radius: 2px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.text-block a:hover {
  background-color: #627FDE;
  transition: 0.5s;
}

/* Section 5 */

.section-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(/images/background-sect5.svg);
  height: 300px;
}

.flex-sec-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec-5-text h4{
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  padding-bottom: 30px;
  padding-right: 200px;
}

.sec-5-text p{
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.sec-5-button a {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  padding: 14px;
}

.sec-5-button a:hover {
  background-color: #FFFFFF;
  color: #292E3D;
  transition: 0.5s;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.publication-blocks {
  transition: 0.5s;
}

.publication {
  display: none;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 32px;
  padding-top: 80px;
}

.active-block {
  display: flex;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 18px;
  margin-bottom: 20px;
}

.sec-6-text a{
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #C2C7D6;
  cursor: pointer;

}

.sec-6-text h4 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #292E3D;
  margin-bottom: 40px;
}

.point-ul a {

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #2947A9;
}

.point-ul {
  background-image: url(/images/line-ul.svg);
  background-repeat: no-repeat;
  background-position: 1px;
  padding-left: 16px;
}

.container-public {
  max-width: 384px;
  min-height: 331px;
  overflow: hidden;
  background-color: #2947A9;
}

.info-under-public {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 12px 16px;
}

.info-under-public h4{
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  padding-bottom: 12px;
}

.info-under-public p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.sec-6-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 32px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 20px;
  background-color: #292E3D;
  width: 295px;
  height: 64px;
  cursor: pointer;
}

.button-container:hover {
  background-color: #3D445C;
  transition: 0.5s;
}

.button-container a {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  padding: 10px;
}

.sec6-points {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 49px;
  gap: 16px;
  cursor: pointer;
}





.circle-points {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: #F6F8F7;
}

.circle-points-blue {
  background-color: #2947A9;
}

/* Section 7 */

.section-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F8F7;

}

.form-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.form-text h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #292E3D;
}

.form-text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #292E3D;
  margin: 20px 0 38px 0;
}

.form-group {
  display: flex;
  align-items: center;
  flex-direction: row;

  position: relative;
  margin-bottom: 20px;
  /*transition: 0.3s;*/

}

.form-group:last-child {
  margin-bottom: 8px;
}

.input-form2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 620px;

}

.form-input {
  padding: 10px 8px;
  border: 1px solid #E0E3EB;
  border-radius: 4px;
  width: 280px;
  outline: none;
  transition: 0.3s;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "Work Sans";
}

.form-input-width {
  width: 592px;
  height: 135px;

}


.form-input:focus-visible {
  outline: 1px solid #2947A9;

}



textarea {
  resize: none;
  height: 140px;

}




footer {
  display: flex;
  height: 70px;
  background-color: #2947A9;
  align-items: center;
}

.footer-flex {
  display: flex;
  justify-content: flex-start;
  min-width: 1200px;
}

.footer-p {


  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;

}

.form-button p {
  margin-left: 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #667299;
}

.button-below-form {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.button-below-form a:hover {
  background-color: #627FDE;
  transition: 0.5s;
}

.button-below-form a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  width: 271px;
  background-color: #2947A9;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  border-radius: 2px;
  cursor: pointer;
}

.required {
  color: #C40303;
}


/* Section 8*/

.sec-8-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sec-8-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #292E3D;
  margin-bottom: 24px;
}

.sec-8-text p span {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  font-variant: all-small-caps;
  color: #2947A9;
  margin-right: 13px;
}

.sec-8-text p span:nth-child(2) {
  margin-left: 34px;
}

.sec-8-logo {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sec-8-logo img {
  margin-right: 14px;
}

.sec-8-input p {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  font-variant: all-small-caps;
  color: #2947A9;
  margin-bottom: 16px;
}

.form-and-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.form-and-button a:hover {
    background-color: #FCB88E;
    transition: 0.5s;
}

.form-and-button input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 8px;
  border: 1px solid #E0E3EB;
  border-radius: 4px;
  background: #FFFFFF;
  width: 280px;
  transition: 0.3s;
  outline: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  font-family: "Work Sans";
  margin-right: 8px;

}

.form-and-button input:focus-visible {
  border: 1px solid #2947A9;
}

.form-and-button a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  background-color: #F9995D;
  border-radius: 4px;
  width: 136px;
  height: 41px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.sec-8-input img {
  margin-right: 18px;
}

.section-2-mobile {
  display: none;
}

.sec6-points-mobile {
  display: none;
}

.sec-8-logo-mobile {
  display: none;
}





/* Responsive position */

@media (max-width: 1650px) {
  .header-main {
    margin: 0 20px 0 20px;
  }

  .header-link {
    margin: 0 30px 0 30px;
    font-size: 16px;
  }

  .header-logo {
    margin: 0 80px 0 80px;
  }
}





@media only screen and (max-width: 1024px) {

  .nav-btn {
    display: block;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    gap: 2.2rem;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    transition: 1s;
    transform: translateY(-100vh);
    z-index: 10;
  }

  .navbar a {
    margin: 0;
  }



  .navbar a:nth-child(5) {
    margin: 0;
  }

  .nav-menu-btn {
    position: absolute;
    right: 2rem;
  }

  .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }


  .responsive_navbar {
    transform: none;
  }

  .header-logo {
    margin: 0 60px 0 30px;
  }


}

@media (max-width: 768px) {
  .Logo {
    width: 32px;
    height: auto;
  }

  header {
    max-width: 768px;
  }








  .header-link-div {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    width: 300px;
    /*margin-top: 50px;*/
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .header-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(222, 222, 222, 0.3);
    overflow: hidden;
    padding: 1rem;
    font-size: 14px;
    backdrop-filter: blur(15px);
  }

  .header-link:nth-child(1) {
    padding-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .header-link:nth-child(5) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 20px;
    background-color: #F9995D;
    color: #FFFFFF;

  }



}

/* 1200 900 700*/

@media (max-width: 700px) {

  /* Header */


  .main-hero-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    max-width: 700px;
    min-width: 380px;
  }

  .square {
    /*max-width: 100%;*/
    width: auto;
  }

  .square-button {
    /*width: 247px;*/
  }

  .feature-p {
    margin: 0 35px;
  }

  .first-block-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 220px;
    left: 20%;
  }

  .first-block-text h1 {

    font-size: 50px !important;

    line-height: 65px !important;
    left: 0;
  }

  .grid-3-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }


/*  Rewrite about section */

  .section-2 {
    display: none
  }

  .about-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: none;
  }

  #about-img {
    max-width: 360px;
    min-width: 300px;
    margin: 0 10px 0 10px;
    width: auto;
    height: auto;
  }

  .about-us {
    max-width: 360px;
    min-width: 300px;
    height: auto;
    margin-bottom: 20px;
  }



  .section-2-mobile {
    display: flex;
    margin-top: 80px;
  }

  .btn-sec-2 {
    display: flex;
    justify-content: center;
    margin: 70px 0 40px;

  }


/*  Section 4 */

  .flex-blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }

  .four-of-blocks {
    margin-bottom: 75px;
  }

  .four-of-blocks img {
    width: 75px;
    transform: translate(-26px, -23px);
  }

  .four-of-blocks h4 {
    margin-right: 30px;
  }

  .four-of-blocks:last-child {
    margin-bottom: 0;
  }

  .text-block {
    max-width: 380px;
    padding: 0 20px;
  }

/*  Section 5 */

  .section-5 {
    background-position: center;
  }

  .flex-sec-5 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }

  .sec-5-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .sec-5-text h4 {
    padding: 0 0 20px 0;
    position: relative;
    text-align: center;

    font-size: 30px;
  }

  .sec-5-text p {
    margin-bottom: 16px;
    font-size: 16px;
  }

  .sec-5-button {
    padding: 20px 20px;
  }

/*  Section 6 */

  .flex-container {

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .active-block {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .sec-6-text h4 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 34px;
  }

  .sec-6-text li:nth-child(1) {
    padding: 0;
  }


  .point-ul {
    background-image: none;
  }

  ul {
    display: flex;

  }

  .sec-6-text a {
    font-size: 16px;
  }

  .publication {
    padding-top: 40px;

  }

  .container-public {
    max-width: 330px;
  }

  .sec6-points {
    display: none;
  }

  .sec6-points-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    padding-top: 30px;
  }

  .button-container {
    max-width: 185px;
    margin-right: 10px;
  }

  .button-container:nth-child(1) {
    margin-left: 10px;

  }

/*  Section 7  */

  .form-input-width {
    max-width: 280px;
  }

  .form-button p{
    display: flex;
    justify-content: center;

  }

  .form-text h4 {
    font-size: 30px;
  }

  .form-text p {
    font-size: 18px;
  }

/*  Section 8  */

  .sec-8-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-and-button input {
    max-width: 240px;
  }

  .sec-8-logo {
    display: none;
  }

  .sec-8-logo-mobile {
    display: flex;

  }

  .social-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .landSection:last-child {
    padding: 50px 0 25px 0;
  }

/* Footer */

  .footer-flex {
    justify-content: center;
    min-width: 380px;
    max-width: 700px;
  }

  .footer-flex p {
    font-size: 14px;
  }


}






